* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  background-color: black;
  height: 60px;
  align-items: flex-start;
  justify-content: center;
  gap: 30%;
}
.logo-spotify {
  width: 30%;
  height: auto;
  
}
.burguer-menu {
  width: 10%;
  height: auto;
 
}
