.header {
  display: flex;
  background-color: $colorBlack;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 30%;
  position: sticky;
  top: 0;
  align-content: center;
}
.logo-spotify {
  width: 15%;
  height: auto;
  position: absolute;
  left: 20px;
}
.logo-spotify img {
  width: 100%;
}
.burguer-menu {
  width: 5%;
  height: auto;
  position: absolute;
  right: 20px;
}
.burguer-menu img {
width: 100%;
}
@media (min-width: 480px) {
  .logo-spotify {

  }
}