<header class="header">
    Spotify
    <img class="logo-spotify" src="./Imagenes Spotify/logo.png" alt="Logo Spotify" />
    <img class="burguer-menu" src="./Imagenes Spotify/menu-icon.png" alt="Burger Menu" />
    <nav>
      <!--<ul>

        <li>
          <a href="">Premium</a>
        </li>
        <li>
          <a href="">Ayuda</a>
        </li>
        <li>
          <a href="">Descargar</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="">Registrarse</a>
        </li>
        <li>
          <a href="">Iniciar sesión</a>
        </li>
      </ul>-->
    </nav>
  </header>