<section class="section-2">
    <h2>¿Por qué pasarte a Premium?</h2>
    <article class="article">
      <figure class="figure">
        <img src="./Imagenes Spotify/benefit-1.png" alt="Descarga música" />
      </figure>
      <div class="texto-icono">
        <strong>Descarga música</strong>
        <p>Llévala siempre contigo</p>
      </div>
    </article>
    <article class="article">
      <figure class="figure">
        <img src="./Imagenes Spotify/benefit-2.png" alt="Sin anuncios" />
      </figure>
      <div class="texto-icono">
        <strong>Sin anuncios</strong>
        <p>Disfruta de música sin interrumpciones</p>
      </div>
    </article>
    <article class="article">
      <figure class="figure">
        <img src="./Imagenes Spotify/benefit-3.png" alt="Escucha lo que quieras" />
      </figure>
      <div class="texto-icono">
        <strong>Escucha lo que quieras</strong>
        <p>Incluso en el móvil</p>
      </div>
    </article>
    <article class="article">
      <figure class="figure">
        <img
          src="./Imagenes Spotify/benefit-4.png"
          alt="Salta todas las canciones que quieras"
        />
      </figure>
      <div class="texto-icono">
        <p>Salta todas las canciones que quieras</p>
        <p>Simplemente dale a siguiente</p>
      </div>
    </article>
  </section>
